<template>
  <div>{{ message }}</div>
</template>

<script lang="ts">
import { Vue, Options } from 'vue-class-component';

@Options({
  props: {
    message: String
  }
})
export default class HelloWorld extends Vue {
  message: string
}
</script>